.box1{
	height: 700px;
}
.fm{
	font-family: fantasy;
}
.ps-6{
	padding-left: 300px;
}
.bn{
	border: none;
}
.but{
	width: 200px;
	height: 50px;
}
.ms-6{
	margin-left: 125px;
}
.box2{
	height: 500px;
}
.box3{
	height: 300px;
}